---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import { CpuChipIcon, BoltIcon, CircleStackIcon, ServerIcon } from '@heroicons/react/24/outline';

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Building developer tools for AI to fit any device.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-6 mx-auto max-w-4xl mt-16">
      <div class="relative">
        <div class="absolute -top-4 -left-4 w-16 h-16 bg-capicu-accent opacity-10 rounded-full"></div>
        <h2 class="font-bold text-4xl text-capicu-primary relative">
          Empowering the world at the Edge.
        </h2>
      </div>
      <p class="text-lg leading-relaxed text-capicu-navy-600">
        ML Engineers are great at building models but often overlook the hardware they're working on.
        Limiting the capabilities of real world deployment, we build and design tools so that you
        don't have to worry about not having enough memory or expensive cloud resources.
      </p>
    </div>

    <div class="mt-20">
      <h2 class="text-3xl font-bold text-capicu-primary text-center mb-12">
        Meet the Team
      </h2>
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl">
        {
          publishedTeamMembers.map((teamMemberEntry) => (
            <div class="group">
              <div class="w-full aspect-square relative">
                <div class="absolute inset-0 bg-capicu-accent opacity-10 rounded-sm group-hover:opacity-20 transition-opacity"></div>
                <Picture
                  src={teamMemberEntry.data.avatar.src}
                  alt={teamMemberEntry.data.avatar.alt}
                  sizes="(max-width: 800px) 100vw, 400px"
                  width={400}
                  height={400}
                  class="w-full rounded-sm transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square relative z-10"
                />
              </div>

              <div class="mt-4 text-center">
                <h2 class="text-xl font-semibold text-capicu-primary">{teamMemberEntry.data.name}</h2>
                <h3 class="text-sm text-capicu-navy-600">
                  {teamMemberEntry.data.title}
                </h3>
              </div>
            </div>
          ))
        }
      </div>
    </div>

    <div class="mt-20 text-center">
    </div>
  </Container>
</Layout>
